/* Custom CSS */

/* Header Styling */
.jumbotron {
    background-image: url('background-image.png');
    background-size: cover;
    color: #fff;
    padding: 100px 0;
     font-family: 'Roboto', sans-serif;

}

.jumbotron h1.display-4 {
    color: #fff; /* White text */
}

.jumbotron p.lead {
    color: #fff; /* White text */
}


#about {
    background-color: #f8f9fa; /* Light gray background */
    padding: 80px 0;
}

#about h2 {
    margin-bottom: 40px;
    color: #007bff; /* Blue color */
}

#about p {
    font-size: 18px;
    color: #333; /* Dark color for better readability */
}


/* Portfolio Section Styling */
#portfolio {
    padding: 80px 0;
}

#portfolio h2 {
    margin-bottom: 40px;
    color: #007bff
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card-title {
    font-weight: bold;
}

.card-text {
    color: #666;
}

/* Contact Section Styling */
#contact {
    background-color: #f8f9fa; /* Light gray background */
    padding: 80px 0;
}

#contact h2 {
    margin-bottom: 40px;
    color: #007bff; /* Blue color */
    font-family: 'Roboto', sans-serif; /* Set font to Roboto */
}

.contact-form .form-control {
    border-radius: 0;
    border-color: #ced4da; /* Gray border color */
}

.contact-form textarea.form-control {
    resize: none;
}

.contact-form button[type="submit"] {
    transition: background-color 0.3s ease;
    background-color: #007bff; /* Blue button background */
    border-color: #007bff; /* Blue button border color */
    color: #fff; /* White button text color */
    font-family: 'Roboto', sans-serif; /* Set font to Roboto */
}

.contact-form button[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue on hover */
    border-color: #0056b3; /* Darker blue border color on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .jumbotron {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .contact-form .form-group {
        margin-bottom: 15px;
    }
}